@font-face{
  font-family: modernpics;
  src: url('Fonts/modernpics.otf');
}

@font-face{
  font-family: pulsarjs;
  src: url("Fonts/pulsarjs.ttf");
}

body{
  width: 600px;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  overflow-x:hidden;
}

img{
  height: 16px;
  width: 16px;
}

a{
  cursor: pointer;
}

h1{
  font-size: 20px;
  -webkit-transition: all .3s ease-in-out;
}

#mainControls{
  margin: 0px;
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  top: 0px;

  padding: 15px 0px 15px 0px;

  font-size: 18px;
  border-radius: 5px 5px 0px 0px;

  box-shadow: 
    0 2px 6px rgba(0,0,0,0.5), 
    inset 0 1px rgba(255,255,255,0.3), 
    inset 0 25px rgba(255,255,255,0.2), 
    inset 0 25px 30px rgba(255,255,255,0.25), 
    inset 0 -15px 30px rgba(0,0,0,.3);
}

#mainControls >*{
  background-color: black;
  padding: 5px;
  margin: 10px;
  //border: solid #3399FF 1px;
  border-radius: 5px;
  font-family: Tahoma;
  font-style: normal;

  box-shadow: 
    0 2px 6px rgba(50,50,50,50.5), 
    inset 0 1px rgba(255,255,255,0.3), 
    inset 0 15px rgba(255,255,255,0.2), 
    inset 0 15px 20px rgba(255,255,255,0.25), 
    inset 0 -15px 30px rgba(0,0,0,0.3);
}

#target{
  margin-top: 50px;
  height: 500px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 15px;
  padding-bottom: 25px;
}

.sortablePlaceholder{
  border: dashed black 1px;
  //width: 100%;
}

.highlighted{
  background-color: #cfdfff;
  border-radius: 5px;
  -webkit-transition: all .3s ease-in-out;
}

.titlePrompt{
  width: 450px;
  height: 25px;
  font-size: 18px;
  border-radius: 5px;
}

.tab{
  clear: both;
  color: blue;
  margin-bottom: 10px;
  float: left;

  border: solid black 1px;
  border-radius: 5px;

  padding: 5px;
  padding-left: 10px;
  width: 480px;
  background-color: white;
}

.tab .icons{
  float: left;
  margin-right: 10px;
}

.tab .icons img{
  margin-bottom: 5px;
}

.tab .info{
  width: 440px;
  float: right;
}

.tab h2{
  color: black;
  margin: 0px;
  font-size: 16px;
}

.tab img{
  margin-right: 5px;
}

.tab .url{
  color: blue;
}

.tabGroup{
  clear: both;
  width: 500px;
}

.tabGroup .expandHandle{
  width: 25px;
  //height: 25px;
  font-size: 25px;
  text-align: center;
  float: left;
  margin-right: 10px;
  cursor: pointer;

  -webkit-transition: all .2s ease-in-out;
}

.tabGroup .expandHandle.expanded{
  color: #3399FF;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
  -webkit-transition: all .2s ease-in-out;
}

.tabGroup .newWindowButton{
  margin-left: 10px;
}

.tabGroup .deleteGroupButton{
  float: right;
}

.hidden{
  display: none;
}

.tabsList{
  padding-left: 40px;
  width: 550px;
  float: left;
}

.tabsList.expanded{
  display: block;
}