#debug{
  color: red;
}

#saveAsName{
  width: 450px;
  height: 30px;
  font-size: 18px;
}

body{
  width: 600px;
  font-size: 14px;
  overflow-x:hidden;
}

img{
  height: 16px;
  width: 16px;
}

a{
  cursor: pointer;
}

#target{
  height: 500px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sortablePlaceholder{
  border: dashed black 1px;
  //width: 100%;
}

.highlighted{
  background-color: #cfdfff;
  border-radius: 5px;
  -webkit-transition: all .3s ease-in-out;
}

.tab{
  clear: both;
  color: blue;
  margin-bottom: 10px;
  float: left;
  border-left: solid black 5px;
  border: solid black 1px;
  padding: 5px;
  padding-left: 10px;
  width: 500px;
  background-color: white;
}

.tab .icons{
  float: left;
  margin-right: 10px;
}

.tab .icons img{
  margin-bottom: 5px;
}

.tab .info{
  width: 440px;
  float: right;
}

h1{
  font-size: 20px;
  -webkit-transition: all .3s ease-in-out;
}

.tab h2{
  color: black;
  margin: 0px;
  font-size: 16px;
}

.tab img{
  margin-right: 5px;
}

.tab .url{
  color: blue;
}

.tabGroup{
  clear: both;
  width: 500px;
}

.tabGroup .expandHandle{
  width: 25px;
  height: 25px;
  font-size: 20px;
  text-align: center;
  float: left;
  margin-right: 10px;
  cursor: pointer;

  -webkit-transition: all .2s ease-in-out;
}

.tabGroup .expandHandle.expanded{
  color: blue;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
  -webkit-transition: all .2s ease-in-out;
}

.tabGroup .newWindowButton{
  margin-left: 10px;
}

.tabGroup .deleteGroupButton{
  float: right;
}

.hidden{
  display: none;
}

.tabsList{
  padding-left: 40px;
  width: 550px;
  float: left;
}

.tabsList.expanded{
  display: block;
}